* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-image: url("./images/Menu.png");
    background-size: 60%;
    background-position: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    height: 10vh;
}

header .logo {
    padding-top: 9px;
    font-size: 25px;
    font-family: Maragsa;
    color: #ffffff;
    align-items: center;
}

header nav a {
    padding-top: 10px;
    font-family: Qanelas;
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
}

header nav a:hover {
    color: #B18240;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    width: 20px;
    height: 20px;
    background-color: #EDC183;
    color: #EDC183;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    min-width: 150px;
}

.dropdown-menu a {
    color: #5c3b23;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
    color:#c7a26f;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.volunteer .dropdown-menu {
    left: 0;
    right: auto;
    background-color: #fefefe; 
}

.volunteer .dropdown-menu a {
    font-family: Qanelas;
    font-weight: bold;
    color: #5c3b23;
}

.volunteer .dropdown-menu a:hover {
    background-color: #f2f2f2;
    color:#c7a26f;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

main {
  padding-top: 40%;
  padding-bottom: 40%;
}



.container {
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    padding: 3vh 3vh;
    background: rgba(252, 239, 227, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 204, 173, 0.43);
}

.container h1 {
    font-family: Maragsa;
    font-weight: normal;
    color: #800000;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
}

.container h3 {
    font-family: Qanelas;
    font-weight: 700;
    color: #1b1b1b;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Qanelas;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #53382F;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #53382F;
    outline: none;
    background-color: transparent; 
    box-sizing: border-box;
    font-family: Qanelas;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #6a6a6a;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-group input[type="date"],
.form-group input[type="datetime-local"] {
    padding: 0.5rem;
}

.form-group select {
    cursor: pointer;
}

.form-group button {
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #A31B1B;
    background: transparent;
    color: #A31B1B;
    font-family: Qanelas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.form-group button:hover {
    background: #A31B1B;
    color: #fff;
}


.organik-footer {
    background-image: url("./images/footer.png");
    background-position: center;
    background-size: cover;
    color: #fff; 
    padding: 20px 40px;
    height: 41vh;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
  max-width: 50%;
}

.logo {
  font-family: Maragsa;
  color: #ffffff;
  font-size: 38px;
  font-weight: normal;
  margin-left: 90px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.footer-left h3 {
  font-family: Qanelas;
  font-size: 23px;
  font-weight: normal;
  margin-left: 90px;
}

.privacy-links{
  margin-top: 25px;
}

.link1 {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
  margin-left: 90px;
}

.link2 {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
}

.privacy-links a:hover {
  color: #EDC183;
}
  
.footer-right ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.footer-right ul li {
  margin: 10px 0;
}

.volun {
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 165px;
}


.orgs {
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 125px;
}


.home{
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 199px;
}

.footer-right ul li a:hover {
  color: #EDC183;
}

.footer-right p {
  margin-top: 50px;
  margin-right: 90px; 
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
}
