* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-image: url("./images/Menu.png");
    background-size: 60%;
    background-position: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    height:10vh;
}

header .logo {
    padding-top: 9px;
    font-size: 25px;
    font-family: Maragsa;
    color: #ffffff;
    align-items: center;
}

header nav a {
    padding-top: 10px;
    font-family: Qanelas;
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
}

header nav a:hover {
    color:#B18240;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    width: 20px;
    height: 20px;
    background-color: #EDC183;
    color: #EDC183;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    min-width: 150px;
}

.dropdown-menu a {
    color: #5c3b23;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

main {
  padding-top: 25%;
  padding-bottom: 45%;
}

.profile-container {
    max-width: 800px;
    margin: 30px auto;
    padding-top: 20%;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ddd;
}

.profile-header h1 {
    font-family: Qanelas;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.profile-header p {
    font-family: Qanelas;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: #555;
}

.profile-info div {
    margin-bottom: 15px;
}

.profile-info label {
    display: block;
    margin-bottom: 5px;
    font-family: Qanelas;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #6a6a6a;
}

.profile-info p {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ccc; 
    outline: none;
    background-color: transparent; 
    box-sizing: border-box;
    font-family: Qanelas;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #6a6a6a;
}

.profile-info p:focus {
    border-bottom: 2px solid #ae1c14; 
}

.profile-actions {
    text-align: center;
    margin-top: 20px;
}

.profile-actions button {
    margin-top: 10px;
    width:40%;
    padding: 10px 20px;
    border: 2px solid #A31B1B;
    background: transparent;
    color: #A31B1B;
    font-family: Qanelas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.profile-actions button:hover {
    background: #A31B1B;
    color: #fff;
}




#delete-btn:hover {
    background: #A31B1B;
    color: #fff;
}

#togglePassword {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 97%;
    right: 36%;
    transform: translateY(-60%);
    cursor: pointer;
  }

  .organik-footer {
    background-image: url("./images/footer.png");
    background-position: center;
    background-size: cover;
    color: #fff; 
    padding: 20px 40px;
    height: 41vh;

}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: Qanelas;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #6a6a6a;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ccc; 
  outline: none;
  background-color: transparent; 
  box-sizing: border-box;
  font-family: Qanelas;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.form-group input:focus {
  border-bottom: 2px solid #ae1c14; 
}

input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
  max-width: 50%;
}

.logo {
  font-family: Maragsa;
  color: #ffffff;
  font-size: 38px;
  font-weight: normal;
  margin-left: 90px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.footer-left h3 {
  font-family: Qanelas;
  font-size: 23px;
  font-weight: normal;
  margin-left: 90px;
}

.privacy-links{
  margin-top: 25px;
}

.link1 {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
  margin-left: 90px;
}

.link2 {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
}

.privacy-links a:hover {
  color: #EDC183;
}
  
.footer-right ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.footer-right ul li {
  margin: 10px 0;
}

.volun {
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 165px;
}


.orgs {
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 125px;
}


.home{
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: 700;
  font-size: 20px;
  margin-left: 199px;
}

.footer-right ul li a:hover {
  color: #EDC183;
}

.footer-right p {
  margin-top: 50px;
  margin-right: 90px; 
  color: white;
  text-decoration: none;
  font-family: Qanelas;
  font-weight: normal;
  font-size: 15px;
}
